# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/

*.v12.suo
*.suo

#performance reports & sessions
*.vsp
*.psess
.vs/

# macOS
.DS_Store