# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
*.o

# Misc vs crap 
*.v12.suo
*.suo
*.csproj.user
*.shproj.user
*.vcxproj.user

# Rider
.idea/

# Platform-specific webm_mem_playback files
Libraries/webm_mem_playback/libvpx_x64_linux/
Libraries/webm_mem_playback/libvpx_x64_vs15/
Libraries/webm_mem_playback/libvpx_x86_vs15/
Libraries/webm_mem_playback/libwebm_x64_linux/
Libraries/webm_mem_playback/libwebm_x64_vs19/
Libraries/webm_mem_playback/libwebm_x86_vs19/
Libraries/webm_mem_playback/opus_x64_linux/

#performance reports & sessions
*.vsp
*.psess
.vs/

# Mac
*.DS_Store

# Win
desktop.ini

# Merge script
temp.txt

# Private assets
Barotrauma/BarotraumaShared/Content/*
Barotrauma/BarotraumaShared/SharedSource/GameAnalyticsKeys.cs
.github/ISSUE_TEMPLATE/release-checklist.md

#Rider
*.DotSettings.user
