# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

*.v12.suo

#performance reports & sessions
*.vsp
*.psess
/packages/MonoGame.Framework.WindowsDX.3.4.0.459/lib/net40
