<?xml version="1.0" encoding="utf-8"?>
<config masterserverurl="http://www.undertowgames.com/baromaster" autocheckupdates="true" musicvolume="0.5" soundvolume="0.5" verboselogging="false">
  <graphicsmode fullscreen="true" vsync="true" />
  <contentpackage path="Data/ContentPackages/Vanilla 0.7.xml" />
  <player name=""/>
  <keymapping Select="E" Use="0" Aim="1" Up="W" Down="S" Left="A" Right="D" Attack="R" Run="LeftShift" Crouch="LeftControl" Chat="Tab" RadioChat="OemTilde" CrewOrders="C" Ragdoll="Space" /> />
  <gameplay>
    <jobpreferences>
      <job name="Engineer" />
      <job name="Mechanic" />
      <job name="Captain" />
      <job name="Security Officer" />
      <job name="Medical Doctor" />
      <job name="Assistant" />
    </jobpreferences>
  </gameplay>
</config>
