<?xml version="1.0" encoding="utf-8"?>
<config
  language="English"
  masterserverurl="http://www.undertowgames.com/baromaster"
  remotecontenturl="http://www.barotraumagame.com/gamedata/"
  autocheckupdates="true"
  musicvolume="0.5"
  soundvolume="0.5"
  verboselogging="false"
  savedebugconsolelogs="false"
  enablesplashscreen="true"
  usesteammatchmaking="true"
  quickstartsub="Humpback"
  requiresteamauthentication="true">
  <graphicsmode displaymode="BorderlessWindowed" vsync="true" />
  <graphicssettings
    particlelimit="1500"
    lightmapscale="1.0"
    specularity="false"
    chromaticaberration="true"
    losmode="Transparent"
    hudscale="1"
    inventoryscale="1" />
  <contentpackage path="Data/ContentPackages/Vanilla 0.9.xml" />
  <player name=""/>
  <keymapping
    Select="PrimaryMouse"
    Use="E"
    Aim="SecondaryMouse"
    Up="W"
    Down="S"
    Left="A"
    Right="D"
    Attack="F"
    Run="LeftShift"
    Crouch="LeftControl"
    InfoTab="Tab"
    Chat="T"
    RadioChat="R"
    CrewOrders="C"
    Ragdoll="Space"
    Health="H"
    Grab="G"
    Shoot="PrimaryMouse"
    Deselect="SecondaryMouse"
    TakeOneFromInventorySlot="LeftControl"
    TakeHalfFromInventorySlot="LeftShift"
    SelectPreviousCharacter="Z"
    SelectNextCharacter="X" />

</config>
