<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <!-- Set the log level to 'Off' to turn off saving files for a particlar log. -->

  <!-- This is the log level of server messages coming from other hosts when you have permission to recieve server logs. -->
  <variable name="incomingServerLogLevel" value="Info"/>

  <!-- This is the log level of the main log, for both client and server logs. -->
  <variable name="mainLogLevel" value="Info"/>

  <!-- This is the log level of the logs which are sent to the debug console and crash dump recorder. This should always either be Info or Debug, and should match mainLogLevel unless mainLogLevel is Off -->
  <variable name="internalLogLevel" value="Info"/>



  <targets async="true">
    <!-- This target redirects NLog messages to the debug console in-game. Changing the layout will change how the messages are rendered in the console. -->
    <target
      xsi:type="DebugConsole"
      name="debugconsole"
      layout="${level:uppercase=true}: ${message} ${exception}${onexception: Exception\:
      ${exception:format=message,method,stacktrace:maxInnerExceptionLevel=1:innerFormat=message,method}}"
    />

    <!-- This target is the main log for both the client and the server. It's set to only keep 10 log files total, and roll over when logs reach 1 MiB -->
    <target
      xsi:type="File"
      name="mainlog"
      layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline} EXCEPTION\: ${exception:format=ToString}}"
      fileName="${basedir}/Logs/${gdc:item=project}/Barotrauma_${gdc:item=project}_[${cached:cached=true:Inner=${date:format=yyyy-MM-dd_hh.mm.ss}:clearCache=None}].log"
      maxArchiveFiles="9"
      archiveAboveSize="1048576"
    />

    <!-- This target is for incoming server logs from other hosts when this client has server log permissions. -->
    <!-- Note: because of the way NLog archiver works in 4.7 we can't use maxArchiveFiles with the file name format used here. -->
    <target
      xsi:type="File"
      name="incomingservertarget"
      layout="${message}"
      fileName="${basedir}/Logs/ReceivedLogs/${gdc:serverName} [${cached:cached=true:Inner=${date:format=yyyy-MM-dd_hh.mm.ss}:CacheKey=${gdc:serverName}}].log"
      archiveAboveSize="1048576" 
    />

    <!-- This is an in-memory target which saves the last logs which occured. This is used to retrieve the last logs during a crash dump. -->
    <target
      xsi:type="Memory"
      name="crashdumprecorder"
      MaxLogsCount="50"
      layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline} EXCEPTION\: ${exception:format=ToString}}"
    />
  </targets>
  <rules>
    <!-- This is just an example of what you can do if a file is set up to use NLog. In this case SoundChannel was instrumented with debug logging, and then here we filter to a particular set of sounds. -->
    <logger name="Barotrauma.Sounds.SoundChannel" writeTo="mainlog" minLevel="Off">
      <filters defaultAction='IgnoreFinal'>
        <when condition="contains('${message}','Setting gain')" action="IgnoreFinal" />
        <when condition="contains('${event-properties:item=debugSoundName}','Flow')" action="LogFinal" />
      </filters>
    </logger>

    <!-- Default loggers. These three should always be here. -->
    <logger name="IncomingServerLogger" writeTo="incomingservertarget" minlevel="${var:incomingServerLogLevel:default=Off}" final="true"/>
    <logger name="*" writeTo="debugconsole,crashdumprecorder" minlevel="${var:internalLogLevel:default=Info}"/>
    <logger name="*" writeTo="mainlog" minlevel="${var:mainLogLevel:default=Info}" />
  </rules>
</nlog>